* { padding: 0; margin: 0; box-sizing: border-box; }

body {
    background-color: lightyellow;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}

h1 {
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

li {
    list-style: none;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intestazione {
    max-width: 400px;
}
.input-line {
    height: 3rem;
    display: flex;
    margin-bottom: 30px;
}

.intestazione input, .intestazione button {
    height: 100%;
    font-size: 1.5rem;
    border: none;
    border-radius: 4px;
}
.intestazione input {
    border: 1px solid royalblue;
    flex: 1;
    margin-right: 10px;
    padding: 8px;
}
.intestazione button {
    background-color: green;
    color: white;
    cursor: pointer;
    padding: 8px 16px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.to-do, .completed, .da-fare, .completate {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.da-fare {
    margin-right: 50px;
}

.liste li {
    width: 100%;
    padding: 8px;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 700;
    border-radius: 8px;
}
.liste i {
    cursor: pointer;
}
.completed i, .to-do i {
    margin-left: 10px;
}

.completed li {
    background-color: rgb(28, 167, 28, .8);
}
.completed i {
    color: red;
}

.to-do li {
    background-color: rgb(65, 105, 225, .8);
    /* position: relative; */
}
.to-do i {
    color: yellow;
}

/* niente da fare */
.da-fare p {
    font-size: 1.2rem;
    color: indigo;
    font-weight: 700;
    text-align: center;
}

/* delete all */
.delete-all {
    width: max-content;
    padding: 10px;
    align-self: center;
    font-size: 1.3rem;
    color: #333;
    text-align: center;
}
.delete-all p {
    font-size: 0.7rem;
}



/* bonus */
.liste {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
}

/* modfica task */
.modifica-task {
    color: white;
    width: 50%;
    height: 50%;
    background-color: rgba(102, 22, 22, 0.835);
    font-weight: normal;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 40px;
    display: grid;
    place-items: center;
}

.modifica-task .input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    color: yellow;
}
input#modifica {
    font-size: 1.8rem;
    margin-bottom: 20px;
}
.modifica-task button {
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: yellow;
}